.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--background-color-white);
}

.login-card {
  padding: 40px;
  background: var(--background-color-gray);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;

  h1 {
    margin-bottom: 24px;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 500;
  }

}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.full-width {
  width: 100%;
}

.forgot-password {
  font-size: 14px;
  text-decoration: none;
  color: var(--primary-color);
  margin-bottom: 30px;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

app-generic-button {
  width: 100%;
}

/* Novo estilo para o container dos botões */
.form-actions {
  display: flex;
  justify-content: space-between; /* Ou use 'flex-end' e 'gap' se preferir */
  gap: 16px; /* Espaçamento entre os botões */
  margin-top: 10px; /* Espaço acima dos botões */
}

/* Garante que os botões dentro do container ocupem o espaço necessário */
.form-actions > app-generic-button {
  flex: 1; /* Faz com que ambos os botões tenham a mesma largura */
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
