
.input-container {
  position: relative;
  margin-bottom: 24px;
}


.custom-input {
  width: 100%;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 0 15px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: var(--background-color-gray);
}


.custom-label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--primary-color);
  background-color: var(--background-color-gray);
  padding: 0 5px;
  transition: all 0.2s ease-out;
  pointer-events: none;
}


.custom-input:focus ~ .custom-label,
.custom-input:not(:placeholder-shown) ~ .custom-label {

  transform: translateY(-26px) scale(0.9);
  font-weight: 500;
}

.custom-input::placeholder {
  color: transparent;
  transition: color 0.3s ease-in-out;
}


.custom-input:focus::placeholder {
  color: var(--text-color-secondary);
}
