/* Estilos para as variações de cor do botão */
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-success {
  background-color: var(--primary-color-success);
  color: var(--white);
}

.btn-primary:hover,
.btn-success:hover {
  opacity: 0.9;
}

/* Estilo base para todos os botões genéricos */
button[mat-raised-button] {
  box-shadow: none !important;
  border-radius: 10px;
  padding: 0 24px;
  height: 45px;

  /* Flexbox para alinhar ícone e texto */
  display: inline-flex;
  align-items: center;
  gap: 8px; /* <-- Maneira moderna de adicionar espaço */
}
