/* Estilos para as variações de cor do botão */
.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-primary-light {
  background-color: var(--primary-color-light);
  color: var(--white);
}

.btn-success {
  background-color: var(--primary-color-success);
  color: var(--white);
}

.btn-danger {
  background-color: var(--error-color);
  color: var( --white)
}

.btn-primary:hover,
.btn-success:hover, btn-backgroud-grey:hover, btn-danger:hover {
  opacity: 0.9;
}

.btn-backgroud-grey {
  background-color: var(--background-color-gray);
}

/* Estilo base para todos os botões genéricos */
button[mat-raised-button] {
  box-shadow: none !important;
  border-radius: 10px;
  padding: 0 24px;
  height: var(--btn-height, 40px);
  padding: var(--btn-padding, 0 24px);

  /* Flexbox para alinhar ícone e texto */
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
