<div class="not-found-container">
  <div class="error-image-container">
    <img src="assets/images/404%20Error%20with%20a%20cute%20animal-bro.svg" alt="Ilustração de página não encontrada">
  </div>
  <div class="error-title">Página Não Encontrada</div>
  <p class="error-message">
    Desculpe, a página que você está procurando não existe ou foi movida.
  </p>
  <app-generic-button
    text="Voltar para o Início"
    color="primary"
    type="button"
    tooltipText="Retornar para a página principal"
    (buttonClick)="voltarParaInicio()">
    <mat-icon>home</mat-icon>
  </app-generic-button>
</div>
