.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  padding: 2rem;
  color: var(--background-color-gray);
}

.error-image-container {
  max-width: 450px;
  width: 100%;

}

.error-image-container img {
  width: 100%;
  height: auto;
}

.error-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--text-color);
}

.error-message {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  max-width: 400px;
  margin: 1rem 0 2rem 0;
}
