/* ==========================
   CALENDÁRIO - FULLCALENDAR
   ========================== */


.fc {
  font-family: "Rawline", Arial, sans-serif;
  background-color: var(--background-color-light);
  padding: 10px;
  border-radius: 8px;
}


.fc-toolbar-title {
  font-weight: 700 !important;
  font-size: 1.3rem;
}


.fc .fc-toolbar .fc-button.fc-today {
  background-color: var(--primary-color-light) !important;
  color: white !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  border: none !important;
}


.fc .fc-toolbar .fc-button:not(.fc-today) {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: none !important;
  font-weight: 600 !important;
}


.fc .fc-toolbar .fc-button:hover {
  opacity: 0.9 !important;
  cursor: pointer !important;
}


.fc-timegrid-slot,
.fc-timegrid-slot-lane .fc-scrollgrid-sync-inner {
  height: 20px !important;
  min-height: 20px !important;
}


.fc-timegrid-slot-minor,
.fc-timegrid-slot-minor .fc-scrollgrid-sync-inner,
.fc-scrollgrid,
.fc-scrollgrid .fc-scrollgrid-section {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}


.fc-timegrid-event-harness {
  background: transparent !important;
}


.fc-event {
  border-radius: 6px !important;
  font-size: 0.8rem;
  padding: 2px 4px;
  line-height: 1.1;
}


.fc-event:hover {
  opacity: 0.9;
  cursor: pointer;
}


.fc-col-header-cell-cushion {
  font-weight: 600;
  color: var(--primary-color-grey);
}


.fc-timegrid-body {
  overflow-y: hidden !important;
}


.fc-timegrid-slot-minor {
  background-color: transparent !important;
  border: none !important;
}

.fc-col-header-cell-cushion {
  font-weight: 600;
  color: var(--primary-color-grey);
}

.fc-col-header-cell {
  background-color: white !important;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #ddd;
}
