.dialog-content {
  padding-top: 16px;
  background-color: var(--background-color-gray);
}

.form-row {
  display: flex;
  gap: 16px; /* Espaço entre os campos na mesma linha */
}

.form-field {
  flex: 1; /* Faz com que os campos dividam o espaço igualmente */
}

/* Alinha os botões no final (canto direito) */
[mat-dialog-actions] {
  gap: 8px;
  margin-bottom: 10px;
}

.dialog-container {
  background-color: var(--background-color-gray);
}

h2[mat-dialog-title] {
  text-align: center;
  width: 100%; /* Garante que o título ocupe toda a largura para a centralização funcionar */
  font-weight: 600;
  font-size: 25px;
}
.dialog-subtitle {
  text-align: center; /* Centraliza o texto (para combinar com o título) */
  font-size: 14px; /* Tamanho da fonte (ajuste como preferir) */
  color: var(
    --primary-color
  ); /* Cor do texto (um cinza sutil das suas variáveis) */
  font-weight: 400; /* Peso da fonte (400 é normal, 500 é semi-negrito) */
  margin-top: -10px; /* Reduz o espaço entre o título e o subtítulo */
  margin-bottom: 24px; /* Aumenta o espaço entre o subtítulo e o formulário */
}
