.dialog-content {
  padding-top: 16px;
  background-color: var(--background-color-gray);
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-field {
  flex: 1;
}


[mat-dialog-actions] {
  gap: 8px;
  margin-bottom: 10px;
}

.dialog-container {
  background-color: var(--background-color-gray);
}

h2[mat-dialog-title] {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 25px;
}
.dialog-subtitle {
  text-align: center;
  font-size: 14px;
  color: var(
    --primary-color
  );
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 24px;
}
