<div class="dashboard-container">
  <div class="controls-container">
    <div class="filters-group">
      <mat-form-field appearance="outline" class="filter-select">
        <mat-label>Bloco</mat-label>
        <mat-select (selectionChange)="filtrarSalasPorBloco($event.value)">
          <mat-option value="F">Bloco F</mat-option>
          <mat-option value="G">Bloco G</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filter-select">
        <mat-label>Sala</mat-label>
        <mat-select
          [(value)]="salaSelecionada"
          (selectionChange)="salaMudou($event.value)"
        >
          <mat-option *ngFor="let sala of salas" [value]="sala">
            {{ sala.nomeSala }} - {{ sala.predio }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="actions-group">
      <app-generic-button
        text="Agendar"
        color="success"
        type="button"
        tooltipText="Clique para agendar uma sala"
        (buttonClick)="tentarAgendar()"
      >
        <mat-icon>calendar_today</mat-icon>
      </app-generic-button>
    </div>
  </div>

  <div class="calendar-placeholder">
    <app-calendario
      [salaSelecionadaId]="salaSelecionada?.idSala"
    ></app-calendario>
  </div>
</div>
