.dashboard-container {
  padding: 24px;
}

.controls-container {
  /* Apenas para dar um espaço abaixo antes da navegação do calendário */
  margin-bottom: 24px;
}

.filters-group {
  display: flex; /* Coloca os filtros lado a lado */
  gap: 16px; /* Cria um espaço entre eles */
}

.filter-select {
  flex-grow: 1; /* Faz com que os campos de filtro cresçam e ocupem todo o espaço disponível na linha */
}

.actions-group {
  display: flex;
  justify-content: flex-end; /* <<< A MÁGICA ACONTECE AQUI */
  margin-top: 16px; /* Adiciona um espaço entre a linha dos filtros e a linha do botão */
}
