<mat-toolbar class="navbar">
  <div class="navbar-brand">
    <img src="assets/images/brasao.svg" alt="Logo UFSM" class="navbar-logo">
    <div class="navbar-title">
      <h1>Politécnico</h1>
      <h2>Colégio Politécnico da UFSM</h2>
    </div>
  </div>

  <span class="navbar-spacer"></span>

  <div class="navbar-actions">
    <ng-container *ngIf="isLoggedIn">

      <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button"  matTooltip="Opções do usuário">
        <mat-icon>person</mat-icon>
        <span>{{ currentUser?.nome }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()" matTooltip="Deslogar e sair do sistema">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
        <button mat-button class="action-button" matTooltip="Ver meus agendamentos">Meus Agendamentos</button>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">

      <app-generic-button
        (click)="login()"
        text="Entrar"
        color="background-gray"
        type="submit"
        tooltipText="Clique para acessar o sistema"
        > <mat-icon>login</mat-icon>
      </app-generic-button>
    </ng-container>
  </div>
</mat-toolbar>
